.fpassword-container {
    display: flex;
    justify-content: center;
    /* Horizontally centers the content */
    align-items: center;
    /* Vertically centers the content */
}

.fpassword-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Ensures button content is centered inside the button */
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.fpassword-container input {
    width: 100% !important;
    background-color: rgb(255, 255, 255);
    height: 40px;
    border-radius: 5px;
    margin: 0;
    box-sizing: border-box;
    color: black;
}

.fpassword-container .container-fluid{
    margin-top: 25%;
}

.fpassword-container div{
    margin-bottom: 3%;
}