.resetPassword-container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resetPassword-container .container-fluid{
    width: 100%;
}

.resetPassword-container input {
    width: 100% ;
    background-color: rgb(255, 255, 255);
    height: 40px;
    border-radius: 5px;
    margin: 0;
    box-sizing: border-box;
    color: black;
}   

.resetPassword-container div{
    margin-top: 10px;
}

.signin-container button{
    display: flex;
    justify-content: center;
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}